---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
const finalClass = [
  'px-2 py-2 hover:text-blue-600 transition',
  isActive ? 'font-semibold underline text-blue-700' : 'text-gray-700',
  className
].filter(Boolean).join(' ');
---

<a href={href} class={finalClass} {...props}>
  <slot />
</a>
